body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .square {
    font-size: 40px;
    background: rgb(250, 252, 175);
    border: 2px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }
  .square:hover{
    background: rgb(191, 228, 253);
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center
  }
  .game-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-replay{
    background: rgb(190, 237, 255);
    margin-top: 10px;
    width: 120px;
    height: 30px;
    font-size: 16px;
  }
  .game-info {
    font-size: 16px;
    border: 1px solid #999;
    padding: 7px;
    border-radius: 5px;
    margin-left: 20px;
    background: rgb(253, 253, 253)
  }
  .game-info ol{
    margin-top: 5px;
  }
  